 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>PROJECTNAME</title>
        
        <!-- Google Webfonts and our stylesheet -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans:300" />
        <link rel="stylesheet" href="assets/css/styles.css" />
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

	  <script type="text/javascript"     src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBTpC05jCbTkdYgScP8qbmswFFmJqdYND0&sensor=false"></script> 
</head>
    
    <body onload="initialize()">
    
		<div id="impress" class="impress-not-supported">
              
	<% @photos.each_with_index do |p, i| %>
	<%# image = FastImage.size(p['src_big']) %>   
		<div class="step" style="width:<%= image[0] rescue '500px' %>px;height:<%= image[1] rescue '550px' %>px;border:#eee medium solid;background:url('assets/img/<%= cycle("frame1.JPG", "frame2.JPG", "frame3.JPG") %>') no-repeat;overflow:none;" data-x="<%= 300*(i)+(rand(5)*50) %>" data-y="<%= (i*300)+(rand(5)*50) %>" data-scale="<%= 1 + rand() %>" data-rotate="<%= rand(360) %>">
			<div style="padding:15px;"> 
			<div style="position:relative;top:450px;background:white;opacity:0.7;border-radius:20px;padding:0px 12px;text-align:center;">
	        	<h2 style="color:black;font-family: AHundredMiles;"><%= p['caption'] %></h2> 
			</div>
				<div style="position:relative; left:11px;bottom:56px;width:448px;height:397px;overflow:none;background:url('<%= p['src_big'] %>') 50% 0% no-repeat;border:medium solid white;">
				</div>                
			</div>
	    </div>   
	<% end %> 
           
	
	<% @events.each_with_index do |e, i| %>  
		<% image = FastImage.size(e['pic']) %>
		<div class="step" style="width:500px;height:500px;border:grey thick solid;background:url('assets/img/eventFrame2.jpg');text-align:center;" data-x="<%= 300*(i)+(rand(5)*50) %>" data-y="<%= (i*300)+(rand(5)*50) %>" data-scale="<%= 1 + rand() %>" data-rotate="<%= rand(350) %>"> 
		
	        <h2><%= e['name'] %></h2> 
			<h3 style="position:relative;top:428px;"><%= '@' unless e['location'].blank? %> <%= e['location'] %> <%= " // " unless e['location'].blank? %> <%= Time.at(e['start_time']).to_date.to_formatted_s(:long) %></h3>
			<p style="font-size:12px;"><%#= e['description'] %></p>    
       <div class="eventpicbg" style="position:relative;top:127px;right:51px;z-index:20;">
	     <%= image_tag('/assets/img/eventFrameP.png') %>   
		</div> 
	   <div class="eventpic" style="position:relative;top:171px;right:67px;z-index:999;	-webkit-transform: rotate(-12.5deg);-moz-transform: rotate(-12.5deg);"> 
		<%= image_tag(e['pic']) %>  
		</div>

		<div id="map_canvas_<%= i %>" style="width:498px;height:235px;position:relative;bottom:55px;z-index:2;"></div>   
	   </div>  
	<% e['location'] ||= "10013" %>
	<% end %> 
	
	<script> 
	  function initialize() { 

        var mapOptions = {   
          zoom: 13,
		  disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };      

   <% @events.each_with_index do |e, i| %> 
        var map_<%= i %> = new google.maps.Map(document.getElementById("map_canvas_<%= i %>"),
            mapOptions); 
  		    new google.maps.Geocoder().geocode({ 'address': "<%= e['location'] %>"}, function(results){
		    map_<%= i %>.setCenter(results[0].geometry.location); 
			 var marker_<%= i %> = new google.maps.Marker({
					      position: results[0].geometry.location,
					      map: map_<%= i %>});
			});    
	<% end %>
      }
	  </script> 
        

   <div class="step" style="width:500px;height:700px;background:url('assets/img/musicFrame.png') no-repeat;overflow:none;" data-x="<%= (rand(5)*50) %>" data-y="<%= (rand(5)*50) %>" data-scale="<%= 1 + rand() %>" data-rotate="<%= rand(360) %>">

		<div style="position:relative;top:142px;background:none;opacity:0.7;border-radius:20px;padding:0px 12px;text-align:center;width:400px;left:33px;"> 
			<% @music.take(5).each do |m| %>
        	<h2 style="color:black;font-family: AHundredMiles;"><%= m.name %></h2>
 			<% end %>
		</div>           
		</div>


		</div>

		<a id="arrowLeft" class="arrow">&lt;</a>
		<a id="arrowRight" class="arrow">&gt;</a>

        <footer>
	        <h2>PROJECT NAME</h2>
            <a class="tzine" href="#">Created by awesome people.</a>
        </footer>
        
        <!-- JavaScript includes -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="assets/js/impress.js"></script>
		<script src="assets/js/script.js"></script>

    </body>
</html>

